<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">
    <div class="p-4">
        <h2>Dashboard</h2>
        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5>Total Products</h5>
                        <h2 class="text-primary">100</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5>Customers</h5>
                        <h2 class="text-success">45</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5>Orders</h5>
                        <h2 class="text-info">20</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>